<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<jmxConfigurator />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="DEBUG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>debug.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-4relative %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.flink.api.java.typeutils.TypeExtractor" level="WARN" additivity="false" />
    <logger name="org.apache.flink.metrics.MetricGroup" level="WARN" additivity="false" />
    <logger name="org.apache.flink.runtime.jobmaster.JobMaster" level="WARN" additivity="false" />
    <logger name="org.apache.flink.runtime.jobmaster.slotpool.SlotPoolImpl" level="WARN" additivity="false" />
    <logger name="org.apache.flink.runtime.resourcemanager.StandaloneResourceManager" level="WARN" additivity="false" />
    <logger name="org.apache.flink.runtime.resourcemanager.slotmanager.SlotManagerImpl" level="WARN" additivity="false" />
    <logger name="org.apache.flink.runtime.taskexecutor.TaskExecutor" level="WARN" additivity="false" />
    <logger name="org.apache.flink.streaming.api.functions.sink.TwoPhaseCommitSinkFunction" level="WARN" additivity="false" />
    <logger name="org.apache.flink.streaming.api.operators.BackendRestorerProcedure" level="WARN" additivity="false" />
    <logger name="org.apache.flink.streaming.connectors.kafka.FlinkKafkaConsumerBase" level="WARN" additivity="false" />
    <logger name="org.apache.flink.streaming.connectors.kafka.FlinkKafkaProducer" level="WARN" additivity="false" />
    <logger name="org.apache.flink.streaming.runtime.tasks.StreamTask" level="WARN" additivity="false" />
    <logger name="org.apache.flink.table.runtime.generated.CompileUtils" level="WARN" additivity="false" />
    <logger name="org.apache.flink.table.runtime.operators.window.internal.MergingWindowSet" level="DEBUG" additivity="false" />

    <logger name="org.apache.kafka.clients" level="WARN" additivity="false" />
    <logger name="org.apache.kafka.common.network.Selector" level="WARN" additivity="false" />
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="WARN" additivity="false" />

    <logger name="twitter4j" level="WARN" additivity="false" />
	<logger name="io.undertow.websockets.core.request" level="WARN" />
	<logger name="org.eclipse.jetty" level="INFO" additivity="false" />

    <logger name="paris.benoit.mob.cluster.services" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG_FILE" />
    </logger>
	
	<root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
	</root>


</configuration>